<div class="container">

  <h2>View and Edit Robot</h2>

  <form #robotForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="user-name">Select User</label>
      <select class="form-control" id="user-name" name="user-name"
              required
              [(ngModel)]="selectedUsers"
              (ngModelChange)="userChanges($event)">
        <option value="">Select User</option>
        <option *ngFor="let user of userOptions" [value]="user">{{user}}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="package-name">Select Package</label>
      <select class="form-control" id="package-name" name="package-name"
              required
              [(ngModel)]="selectedPackage"
              (ngModelChange)="packageChange($event)">
        <option value="">Select Package</option>
        <option *ngFor="let package of packageOptions" [value]="package">{{package}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="package-name">Select Package</label>
      <select class="form-control" id="robot-name" name="robot-name"
              required
              [(ngModel)]="selectedRobots"
              (ngModelChange)="robotChange($event)">
        <option [value]="null">Select Package</option>
        <option *ngFor="let r of robotOptions" [ngValue]="r" >{{r.robotId}}</option>

      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit" [disabled]="!robotForm.form.valid">Next</button>
    </div>

  </form>

</div>
