<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <!--  <div class="footer-col col-md-4">-->
        <h3>About Robocode</h3>
        <p>
          Robocode is a programming game where the goal is to code a robot
          battle tank to compete against other robots in a battle arena. So
          the name Robocode is a short for "Robot code". The player is the
          programmer of the robot, who will have no direct influence on the
          game. Instead, the player must write the AI of the robot telling
          it how to behave and react on events occurring in the battle
          arena. Battles are running in real-time and on-screen.
        </p>
        <!--  </div> -->
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">Copyright &copy; 2016</div>
      </div>
    </div>
  </div>
</footer>
