<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playing Robot Battle</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <script language="javascript">

        function writeSummary(summary) {
            summaryElem =
                document.getElementById("summary");
            summaryElem.innerHTML += "<br />";
            summaryElem.innerHTML += summary;
        }
    </script>
</head>
<body>

    <p id="summary">  </p>
    <noscript>A browser with JavaScript enabled is required for this page to operate properly.</noscript>
    <applet alt = "Applet failed to run.  No Java plug-in was found."
            code = 'robocode.Robocode'
            archive = "applet7.jar"
            codebase = "/"
            width = "800"
            height = "600" >

        <param name="selected_robots" th:value="${selected_robots}" />
        <param name="robots_path" th:value="${robots_path}" />
    </applet>
</body>
</html>